= simple_form_for(@entry, html: { class: 'form-vertical' }) do |form|
  .row
    .col-sm-2
      = form.input :worked_on, as: 'string', label: 'Date', input_html: { class: 'datepicker', value: Date.today.strftime('%d.%m.%Y') }
  .row
    .col-sm-3
      = form.association :project, collection: Project.not_finalized, prompt: 'Choose Project'
      = form.input :work_type, collection: work_types_for_select, prompt: 'Choose Type'
  .row
    .col-sm-2
      = form.input :workers
      = form.input :coefficient
  = form.submit 'Save', class: 'btn btn-lg btn-primary'
