- date_input_type = desktop_browser? ? 'text' : 'date'
%h2= t('entries.new_entry')
.well.well-default
  = simple_form_for @entry do |form|
    = form.error_notification
    .row
      .col-md-4.col-xs-12
        .row
          .col-sm-12
            - if can? :manage, User
              = form.association :user, collection: User.active, prompt: false, label: t('entries.attributes.user')
            = form.input :worked_on, as: :string, label: t('entries.attributes.worked_on'), input_html: { type: date_input_type, class: 'datepicker', value: form.object.worked_on.try(:strftime, '%d.%m.%Y') || Date.today.strftime('%d.%m.%Y'), data: { desktop: desktop_browser? } }
            = form.input :multiple_days, as: :boolean, label: t('entries.attributes.multiple_days'), checked: @entry.multiple_days
            #final-date
              = form.input :final_date, as: :string, label: t('entries.attributes.final_date'), input_html: { type: date_input_type, class: 'datepicker', value: form.object.final_date.try(:to_date).try(:strftime, '%d.%m.%Y'), data: { desktop: desktop_browser? } }
      .col-md-4.col-xs-12
        .row
          .col-sm-12
            = form.association :project, collection: {}, prompt: t('forms.choose_project'), label: t('entries.attributes.project')
          .col-sm-12.col-xs-6#work-types
            .form-group
              %fieldset
              %label.error{for: 'entry[work_type]'}
          .col-sm-12.col-xs-6#billing-types
            .form-group
              %fieldset
              %label.error{for: 'entry[billing_type]'}
      .col-md-4.col-xs-12
        .row
          .col-xs-6#workers
            = form.input :workers, label: t('entries.attributes.num_workers')
          .col-xs-6#coefficient
            = form.input :coefficient, label: t('entries.attributes.coefficient')
          .col-xs-6#hourly-rate
            = form.input :hourly_rate, input_html: { value: current_user.hourly_rate }, label: t('entries.attributes.hourly_rate')
          .col-xs-6#hours
            = form.input :hours, label: t('entries.attributes.num_hours')
          .col-xs-6#daily-rate
            = form.input :daily_rate, label: t('entries.attributes.daily_rate')
          .col-xs-6#project-rate
            = form.input :project_rate, label: t('entries.attributes.project_rate')
          .col-xs-12
            = form.input :comment, label: t('entries.attributes.comment'), as: :text, input_html: { rows: 5 }
    = form.submit t('forms.save'), class: 'btn btn-primary'
