- date_input_type = desktop_browser? ? 'text' : 'date'
%h2= t('entries.new_entry')
.well.well-default
  = simple_form_for @entry do |form|
    = form.error_notification
    .row
      .col-md-4.col-xs-12
        .row
          .col-sm-12
            - if can? :manage, User
              = form.association :user, collection: User.active, prompt: false, label: t('entries.attributes.user')
            = form.input :worked_on, as: :string, label: t('entries.attributes.worked_on'), input_html: { type: date_input_type, class: 'datepicker', value: form.object.worked_on.try(:strftime, '%d.%m.%Y') || Date.today.strftime('%d.%m.%Y'), data: { desktop: desktop_browser? } }
            %span.help-block#start-on-help
              = t('entries.project_start_on')
              %span.date
            = form.input :multiple_days, as: :boolean, label: t('entries.attributes.multiple_days'), checked: @entry.multiple_days
            #final-date
              = form.input :final_date, as: :string, label: t('entries.attributes.final_date'), input_html: { type: date_input_type, class: 'datepicker', value: form.object.final_date.try(:to_date).try(:strftime, '%d.%m.%Y'), data: { desktop: desktop_browser? } }
              %span.help-block#end-on-help
                = t('entries.project_end_on')
                %span.date
      .col-md-4.col-xs-12
        .row
          .col-sm-12
            = form.association :project, collection: {}, prompt: t('forms.choose_project'), label: t('entries.attributes.project')
          .col-md-12.col-sm-6.col-xs-12#work-types
            .form-group
              %fieldset
              %label.error{for: 'entry[work_type]'}
          .col-md-12.col-sm-6.col-xs-12#billing-types
            .form-group
              %fieldset
              %label.error{for: 'entry[billing_type]'}
      .col-md-4.col-xs-12
        .row
          .col-xs-6#workers
            = form.input :workers, label: t('entries.attributes.num_workers'), input_html: { pattern: "\\d*" }
          .col-xs-6#coefficient
            = form.input :coefficient, label: t('entries.attributes.coefficient'), input_html: { pattern: "\\d*" }
          .col-xs-6#hourly-rate
            = form.input :hourly_rate, input_html: { value: current_user.hourly_rate, pattern: "\\d*"}, label: t('entries.attributes.hourly_rate'), placeholder: '€'
          .col-xs-6#hours
            = form.input :hours, label: t('entries.attributes.num_hours'), input_html: { pattern: "\\d*" }
          .col-xs-12#daily-rate
            = form.input :daily_rate, label: t('entries.attributes.daily_rate'), input_html: { pattern: "\\d*" }, placeholder: '€'
          .col-xs-12#project-rate
            = form.input :project_rate, label: t('entries.attributes.project_rate'), input_html: { pattern: "\\d*" }, placeholder: '€'
          .col-xs-12
            = form.input :comment, label: t('entries.attributes.comment'), as: :text, input_html: { rows: 5 }
    %hr
    = button_tag(type: :submit, class: 'btn btn-primary') do
      = fa_icon('save', text: t('forms.save'))
