%h2 New entry
.well.well-default
  = simple_form_for @entry do |form|
    = form.error_notification
    - if can? :manage, User
      .row
        .col-sm-4
          = form.association :user, collection: User.active, prompt: false
    .row
      .col-sm-4
        = form.input :worked_on, as: 'string', label: 'Date', input_html: { class: 'datepicker', value: Date.today.strftime('%d.%m.%Y') }
      .col-sm-4
        = form.association :project, collection: {}, prompt: 'Choose Project'
      .col-sm-4
        = form.input :work_type, collection: work_types_for_select, prompt: 'Choose Type'
    .row
      .col-sm-2#workers
        = form.input :workers
      .col-sm-2#coefficient
        = form.input :coefficient
      .col-sm-2#hours
        = form.input :hours
      .col-sm-2#hourly-rate
        = form.input :hourly_rate, input_html: { value: current_user.hourly_rate }
    .row
      .col-sm-6
        = form.input :comment
    = form.submit 'Save', class: 'btn btn-primary'
