%h2= t('entries.new_entry')
.well.well-default
  = simple_form_for @entry do |form|
    = form.error_notification
    - if can? :manage, User
      .row
        .col-sm-4
          = form.association :user, collection: User.active, prompt: false, label: t('entries.attributes.user')
    .row
      .col-sm-4
        = form.input :worked_on, as: 'string', label: t('entries.attributes.worked_on'), input_html: { class: 'datepicker', value: Date.today.strftime('%d.%m.%Y') }
      .col-sm-4
        = form.association :project, collection: {}, prompt: t('forms.choose_project'), label: t('entries.attributes.project')
      .col-sm-4
        = form.input :work_type, collection: work_types_for_select, prompt: t('forms.choose_work_type'), label: t('entries.attributes.work_type')
    .row
      .col-sm-2#workers
        = form.input :workers, label: t('entries.attributes.num_workers')
      .col-sm-2#coefficient
        = form.input :coefficient, label: t('entries.attributes.coefficient')
      .col-sm-2#hours
        = form.input :hours, label: t('entries.attributes.num_hours')
      .col-sm-2#hourly-rate
        = form.input :hourly_rate, input_html: { value: current_user.hourly_rate }, label: t('entries.attributes.hourly_rate')
    .row
      .col-sm-6
        = form.input :comment, label: t('entries.attributes.comment')
    = form.submit t('forms.save'), class: 'btn btn-primary'
