.well.well-default
  = simple_form_for @user do |form|
    = form.error_notification
    .row
      .col-md-4.col-xs-6
        = form.input :name, placeholder: 'Name'
      .col-md-4.col-xs-6
        = form.input :email, placeholder: 'E-mail'
      - if can? :manage, User
        .col-md-4
          = form.input :role, collection: roles_for_select, prompt: 'Choose Role'
    .row
      .col-md-12
        - if @user.persisted?
          = form.submit 'Save', class: 'btn btn-primary'
          - if can? :manage, User
            = activate_button(@user)
          = link_to fa_icon('send-o', text: 'New password'), reset_password_user_path(@user), class: 'btn btn-default', data: { confirm: 'Are you sure?' }
        - else
          = form.submit 'Create', class: 'btn btn-primary'
