- if @user.new_record?
  %h2= t('users.new_user')
.well.well-default
  = simple_form_for @user do |form|
    = form.error_notification
    .row
      .col-md-3.col-xs-12
        = form.input :name, label: t('users.attributes.name')
      .col-md-3.col-xs-12
        = form.input :email, label: t('users.attributes.email')
      - if can? :manage, User
        .col-md-4.col-xs-6
          = form.input :role, collection: roles_for_select, label: t('users.attributes.role'), prompt: t('forms.choose_role')
        .col-md-2.col-xs-6
          = form.input :hourly_rate, label: t('users.attributes.hourly_rate'), placeholder: '€'
    .row
      .col-md-12
        = button_tag(type: :submit, class: 'btn btn-primary') do
          = fa_icon('save', text: t('forms.save'))
        - if @user.persisted?
          - if can? :manage, User
            = activate_button(@user)
          = link_to fa_icon('send-o', text: t('forms.send_new_password')), reset_password_user_path(@user), class: 'btn btn-default', data: { confirm: t('forms.are_you_sure') }
