.well.well-default
  = simple_form_for(@user, html: { class: 'form-inline' }) do |form|
    = form.error_notification
    .form-group
      = form.input :name, label: false, placeholder: 'Name'
    .form-group
      = form.input :email, label: false, placeholder: 'E-mail'
    .form-group
      = form.input :role, collection: roles_for_select, prompt: 'Choose Role', label: false
    %hr.visible-sm
    = form.submit 'Create user', class: 'btn btn-primary'
