%h1.page-header= t('users.header')

- if can? :create, User
  = render 'form'

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= t('users.attributes.name')
        %th= t('users.attributes.email')
        %th= t('users.attributes.role')
        %th= t('users.attributes.status')
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user, user_path(user)
          %td= user.email
          %td= role_label(user.role)
          %td= status_label(user.is_active?)
