%h1 Users

.well.well-default
  = simple_form_for(@user, html: { class: 'form-inline' }) do |form|
    = form.error_notification
    .form-group
      = form.input :name, label: false, placeholder: 'Name'
    .form-group
      = form.input :email, label: false, placeholder: 'E-mail'
    .form-group
      = form.input :role, collection: roles_for_select, prompt: 'Choose Role', label: false
    = form.submit 'Create user', class: 'btn btn-primary'


%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Registered
      %th Status
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user, user_path(user)
        %td= user.email
        %td
          %time.moment{ datetime: user.created_at.to_date }
        %td= user.is_active? ? 'Active' : 'Inactive'
