%h1 Users

- if can? :create, User
  = render 'form'

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Role
        %th Status
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user, user_path(user)
          %td= user.email
          %td= role_label(user.role)
          %td= status_label(user.is_active?)
