%h1 Users

- if can? :create, User
  = render 'form'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Registered
      %th Role
      %th Status
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user, user_path(user)
        %td= user.email
        %td
          %time.moment{ datetime: user.created_at.to_date }
        %td= role_label(user.role)
        %td= status_label(user.is_active?)
