%h1= "#{@user} (#{@user.email})"

%p
  = role_label(@user.role)
  = status_label(@user.is_active?)

= link_to 'Reset password', reset_password_user_path(@user), class: 'btn btn-default', data: { confirm: 'Are you sure?' }
= link_to activate_button_text(@user.is_active?), toggle_active_user_path(@user), class: 'btn btn-default', method: :patch
