%h1
  = @user
  %small= "#{@user.email}"

%p
  = role_label(@user.role)
  = status_label(@user.is_active?)
  = metadata_label

.metadata-content
  %dl.dl-horizontal.small
    %dt Registered
    %dd
      = fa_icon('calendar')
      = moment(@user.created_at, true)
    - if @user.reset_password_sent_at
      %dt Password sent
      %dd
        = fa_icon('calendar')
        = moment(@user.reset_password_sent_at, true)

- if can? :update, User
  = render 'form'
