.row
  .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3
    .well.well-default
      %h3= t('users.password_reset')

      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email, required: true, autofocus: true, label: t('users.attributes.email')

        .form-actions
          = button_tag(type: :submit, class: 'btn btn-block btn-primary') do
            = fa_icon('send-o', text: t('users.send_password_reset'))

      = render 'devise/shared/links'
