.row
  .col-md-4.col-md-offset-4
    .well.well-default
      %h3= t('users.password_reset')

      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email, required: true, autofocus: true, label: t('users.attributes.email')

        .form-actions
          = f.button :submit, t('users.send_password_reset'), class: 'btn btn-primary btn-block'

      = render 'devise/shared/links'
