%nav.navbar.navbar-fixed-top.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { target: '#navbar-collapse', toggle: 'collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'VIVALog', root_path, class: 'navbar-brand'
    #navbar-collapse.collapse.navbar-collapse
      = form_tag root_path, class: 'navbar-form navbar-left', method: :get do
        .form-group
          = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Projects'
        = button_tag fa_icon('search'), class: 'btn btn-default', type: 'button'
      %ul.nav.navbar-nav.navbar-right
        %li= link_to current_user, edit_registration_path(current_user)
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete
