.well.well-default
  = simple_form_for @project do |form|
    = form.error_notification
    .row
      .col-md-4
        = form.input :title, placeholder: 'Title or address'
      .col-md-4
        = form.input :date, as: 'string', placeholder: 'Select work date', input_html: { class: 'datepicker', value: form.object.date.try(:strftime, '%d.%m.%Y') }
      .col-md-4
        = form.input :volume, placeholder: 'Volume (m³)'
    .row
      .col-md-4
        = form.input :price_receive, label: 'Price (receive)'
      .col-md-4
        = form.input :price_polish, label: 'Price (polish)'
      .col-md-4
        = form.input :price_other, label: 'Price (other)'
    .row
      .col-md-12
        - if @project.persisted?
          = form.submit 'Save', class: 'btn btn-primary'
          = link_to fa_icon('check-square-o', text: 'Finalize'), finalize_project_path(@project), class: 'btn btn-success', method: :patch
          = link_to fa_icon('trash-o', text: 'Delete'), project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
        - else
          = form.submit 'Create', class: 'btn btn-primary'
