- date_input_type = desktop_browser? ? 'text' : 'date'

- if @project.new_record?
  %h2= t('projects.new_project')
.well.well-default
  = simple_form_for @project do |form|
    = form.error_notification
    .row
      .col-md-4
        = form.input :title, label: t('projects.attributes.title')
      .col-md-4.col-sm-6.col-xs-12
        = form.input :start_on, as: 'string', label: t('projects.attributes.start_on'), input_html: { type: date_input_type, class: 'datepicker', value: form.object.start_on.try(:strftime, '%d.%m.%Y'), data: { desktop: desktop_browser? } }
      .col-md-4.col-sm-6.col-xs-12
        = form.input :end_on, as: 'string', label: t('projects.attributes.end_on'), input_html: { type: date_input_type, class: 'datepicker', value: form.object.end_on.try(:strftime, '%d.%m.%Y'), data: { desktop: desktop_browser? } }
    .row
      .col-md-4.col-sm-12
        .row
          .col-md-12.col-sm-6.col-xs-12#project-work-types
            %fieldset
              = form.collection_check_boxes :work_types, work_types_for_select, :last, :first, item_wrapper_tag: 'div', item_wrapper_class: 'checkbox', checked: @project.work_types
              %label.error{for: 'project[work_types][]'}
          .col-md-12.col-sm-6.col-xs-12#project-billing-types
            %fieldset
              = form.collection_check_boxes :billing_types, billing_types_for_select, :last, :first, collection_wrapper_tag: 'fieldset', item_wrapper_tag: 'div', item_wrapper_class: 'checkbox', checked: @project.billing_types
              %label.error{for: 'project[billing_types][]'}
      .col-md-4.col-sm-6.col-xs-12
        .row
          .col-xs-12
            = form.input :volume, label: t('projects.attributes.volume'), placeholder: 'm²'
          .col-xs-12
            .row
              .col-xs-6
                = form.input :sum_sq_receive, label: t('projects.attributes.sum_sq_receive'), placeholder: '€'
              .col-xs-6
                = form.input :sum_receive, as: :string, label: t('projects.attributes.sum_receive'), disabled: true
            .row
              .col-xs-6
                = form.input :sum_sq_polish, label: t('projects.attributes.sum_sq_polish'), placeholder: '€'
              .col-xs-6
                = form.input :sum_polish, as: :string, label: t('projects.attributes.sum_polish'), disabled: true
      .col-md-4.col-sm-6.col-xs-12
        .row
          .col-xs-12
            = form.input :hourly_rate, label: t('projects.attributes.hourly_rate'), placeholder: '€'
            = form.input :daily_rate, label: t('projects.attributes.daily_rate'), placeholder: '€'
            = form.input :project_rate, label: t('projects.attributes.project_rate'), placeholder: '€'
    .row
      %hr
      .col-md-3.form-group
        = button_tag(type: :submit, class: 'btn btn-block btn-primary') do
          = fa_icon('save', text: t('forms.save'))
      - if @project.persisted?
        .col-md-3.form-group
          = link_to fa_icon('check-square-o', text: t('forms.finalize')), finalize_project_path(@project), class: 'btn btn-block btn-success', method: :patch
        .col-md-3.col-md-offset-3.form-group
          = link_to fa_icon('trash-o', text: t('forms.delete')), project_path(@project), method: :delete, data: { confirm: t('forms.are_you_sure') }, class: 'btn btn-block btn-danger'
