= simple_form_for(@project, html: { class: 'form-vertical' }) do |form|
  .row
    .col-sm-4
      = form.input :title
  .row
    .col-sm-2
      = form.input :date, as: 'string', label: 'Date', input_html: { class: 'datepicker' }
      = form.input :volume
      = form.input :price
  = form.submit 'Save', class: 'btn btn-lg btn-primary'
