%h2= t('payouts.title')
.table-responsive
  %table.table.bordered
    %thead
      %tr
        %th= t('entries.attributes.user')
        %th= t('entries.attributes.worked_on')
        %th= t('entries.attributes.work_type')
        %th= t('payouts.payment')
        %th= t('payouts.amount')
    %tbody
      - @project.entries.each do |entry|
        %tr
          %td= entry.user
          %td= moment(entry.worked_on)
          %td= I18n.t("work_types.#{entry.work_type}")
          %td= payment_data_for_entry(entry)
          %td= eur(entry.payout.amount)
