%h1.page-header= t('projects.header')

= render 'form'

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
        %th= t('projects.attributes.title')
        %th= t('projects.attributes.volume')
        %th= t('projects.attributes.date')
    %tbody
      - @projects.each do |project|
        %tr
          %td.text-center
            = project_finalized_label(project.finalized?, show_tooltip: true)
          %td
            = project_code_label(project.code)
            = link_to project.title, project_path(project)
          %td= volume(project.volume)
          %td= project_dates(project)
