%h1
  Projects
  %span
    = link_to fa_icon('plus'), new_project_path, class: 'btn btn-success'

%table.table.table.bordered
  %thead
    %tr
      %th Title
      %th Volume
      %th Receive
      %th Polish
      %th Other
      %th Date
      %th
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td= project.volume
        %td
          = number_to_currency(project.price_receive, unit: '€')
        %td
          = number_to_currency(project.price_polish, unit: '€')
        %td
          = number_to_currency(project.price_other, unit: '€')
        %td
          %time.moment{ datetime: project.date }
        %td
          = link_to fa_icon('eye'), project_path(project), class: 'btn btn-xs btn-default'
          = link_to fa_icon('edit'), edit_project_path(project), class: 'btn btn-xs btn-default'
          = link_to fa_icon('trash-o'), project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
