%h1.page-header= t('projects.header')

= render 'form'

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= t('projects.attributes.title')
        %th= t('projects.attributes.volume')
        %th= t('projects.attributes.price_receive')
        %th= t('projects.attributes.price_polish')
        %th= t('projects.attributes.hourly_rate')
        %th= t('projects.attributes.date')
    %tbody
      - @projects.each do |project|
        %tr
          %td
            = project_code_label(project.code)
            = link_to project.title, project_path(project)
          %td= volume(project.volume)
          %td= eur(project.price_receive)
          %td= eur(project.price_polish)
          %td= eur(project.hourly_rate)
          %td= project_dates(project)
