%h1.page-header Projects

= render 'form'

.table-responsive
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Title
        %th Volume
        %th Receive
        %th Polish
        %th Hourly rate
        %th Date
    %tbody
      - @projects.each do |project|
        %tr
          %td
            = project_code_label(project.code)
            = link_to project.title, project_path(project)
          %td= volume(project.volume)
          %td= eur(project.price_receive)
          %td= eur(project.price_polish)
          %td= eur(project.hourly_rate)
          %td= project_dates(project)
