%h1.page-header
  = @project.title
  %small.project-code= @project.code

%p
  = project_dates_label(@project)
  = project_finalized_label(@project.finalized?)
  = metadata_label

- if @project.finalized?
  = render 'summary'
  = render 'payouts'
- else
  = render 'form'
  - if @project.entries.any?
    = render 'entries'
  - else
    %h2= t('entries.no_entries')

.metadata-content
  %dl.dl-horizontal.small
    %dt= t('info.created')
    %dd
      = fa_icon('calendar')
      = moment(@project.created_at, true)
    - if @project.finalized?
      %dt= t('projects.finalized_label')
      %dd
        = fa_icon('calendar')
        = moment(@project.finalized_at, true)
      %dt
      %dd
        = fa_icon('user')
        = @project.finalizer
