%h1
  %span
    = link_to fa_icon('list'), root_path, class: 'btn btn-primary'
  = @project.title

%table.table.table.bordered
  %thead
    %tr
      %th Title
      %th Volume
      %th Price
      %th Date
      %th
  %tbody
    %tr
      %td= @project.title
      %td= @project.volume
      %td= @project.price
      %td= @project.created_at.to_date
      %td
        = link_to fa_icon('edit'), edit_project_path(@project), class: 'btn btn-xs btn-default'
        = link_to fa_icon('trash-o'), project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%table.table.table.bordered
  %thead
    %tr
      %th Name
      %th Date
      %th Type
      %th Workers
      %th Coeff
      %th
  %tbody
    - @entries.each do |entry|
      %tr
        %td Herp Derp
        %td= entry.worked_on
        %td= entry.work_type
        %td= entry.workers
        %td= entry.coefficient
        %td= link_to fa_icon('trash-o'), entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
