%h1
  = @project.title
  - if @project.date
    %small= moment(@project.date)

%p
  = project_finalized_label(@project.finalized?)
  = metadata_label

- if @project.finalized?
  = render 'summary'
  = render 'payouts'
- else
  = render 'form'
  = render 'entries'

.metadata-content
  %dl.dl-horizontal.small
    %dt Created
    %dd
      = fa_icon('calendar')
      = moment(@project.created_at, true)
    - if @project.finalized?
      %dt Finalized
      %dd
        = fa_icon('calendar')
        = moment(@project.finalized_at, true)
      %dt
      %dd
        = fa_icon('user')
        = @project.finalizer
