%h1
  = @project.title
  - if @project.date
    %small= moment(@project.date)

%p
  = project_finalized_label(@project.finalized?)
  = metadata_label

= render 'form'

.metadata-content
  %dl.dl-horizontal.small
    %dt Created
    %dd
      = fa_icon('calendar')
      = moment(@project.created_at, true)
    - if @project.finalized?
      %dt Finalized
      %dd
        = fa_icon('calendar')
        = moment(@project.finalized_at, true)
      %dt
      %dd
        = fa_icon('user')
        = @project.finalizer

.table-responsive
  %table.table.bordered
    %thead
      %tr
        %th Name
        %th Date
        %th Type
        %th Workers
        %th Coeff
        %th
    %tbody
      - @entries.each do |entry|
        %tr
          %td Herp Derp
          %td
            %time.moment{ datetime: entry.worked_on }
          %td= entry.work_type
          %td= entry.workers
          %td= entry.coefficient
          %td= link_to fa_icon('trash-o'), entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
