%h1
  = @project.title

= render 'form'

.table-responsive
  %table.table.bordered
    %thead
      %tr
        %th Name
        %th Date
        %th Type
        %th Workers
        %th Coeff
        %th
    %tbody
      - @entries.each do |entry|
        %tr
          %td Herp Derp
          %td
            %time.moment{ datetime: entry.worked_on }
          %td= entry.work_type
          %td= entry.workers
          %td= entry.coefficient
          %td= link_to fa_icon('trash-o'), entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
