!!!
%html
  %head
    %title VIVALog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }/
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = render 'shared/navbar'
    = render 'shared/flash_messages'
    .container
      = yield
